


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>- For a quick view of the functionality of the application, I am including a diagram.</p>


    <img class="w-100" src="images/Draw.jpg" alt="Photo" />

</div>
